:root {
  --white: #ffffff;
  --black: #000000;
  --cream: #E4D3C3;
  --first-color: #E1520B;
  --second-color: #007d00;
  --third-color: #000082;
  --gradient: linear-gradient(90deg, #B1420A 0%, #ED560A 25%, #FF8040 54%, #ED560A 77%, #B1420A 100%);
}

// main colors
$main-first-color: var(--first-color);
$main-second-color: var(--second-color);
$main-third-color: var(--third-color);

// colors
$body-bg: #1b0a02;
$title-color: var(--white);
$text-color: var(--white);
$link-color: var(--white);
$link-hover-color: var(--first-color);
$input-placeholder-color: #aaa;

//selection colors
$selection-text-color: var(--black);
$selection-bg-color: var(--first-color);

// fonts
$font-family-base: 'Montserrat', sans-serif;
$font-family-custom: 'Avenir', sans-serif;
$font-family-unique: 'Audiowide', sans-serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 18px;
$line-height-base: 1;

// behavior
$transition-base: all .35s ease-in-out 0s;

//Bootstrap var
$enable-shadows: false;
$body-color: $text-color;
$grid-gutter-width: 40px;

$grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1025px,
        xl: 1440px,
);

$container-max-widths: ();

$firstIteration: true;
@each $breakpoint, $value in $grid-breakpoints {
  @if not $firstIteration {
    $container-max-widths: map-merge($container-max-widths, ($breakpoint: $value - $grid-gutter-width));
  }
  $firstIteration: false;
}